.header-mycart{
    display: flex;
    height: 50px;
    margin: auto;
}

.header-cart-button{
    background-color: #459220;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}

.cart-info {
    background-color: #459220;
    color: white;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
}

.header-cart-logo{
    background-color:#459220;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    font-weight: bolder;
    padding: 10px;
}