
*{
    margin: 0;
    font-family: 'Okra', Helvetica;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/********************************************************/
#header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(179, 178, 178, 0.14);
}
#header > div{
    display: flex;
    margin: 0 20px;
    height: 80px;
}

#header-blinkit-logo img{
    height: 100%;
    width: 100%;
    border-right: 1px solid  rgba(179, 178, 178, 0.14);
    padding-right: 20px;
}

#header-location-info{
    margin: auto 30px;
    font-weight: bolder;
    
}
#location{
    border: none;
}

#header-mycart{
    display: flex;
    height: 50px;
    margin: auto;
}

#header-cart-logo{
    background-color:#459220;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    font-weight: bolder;
    padding: 10px;
}
#header-cart-button{
    background-color: #459220;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}
#header-login {
    margin: auto 30px;
    font-weight: 100;
    
}
#cart-info {
    background-color: #459220;
    color: white;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
}

/********************************************************/



/********************************************************/
#second-header{
    display: flex;
    justify-content: center;
}

#second-header div{
    padding: 10px;
    color: rgba(18, 18, 17, 0.72);
}

/********************************************************/

main{
    display: flex;
    border: 1px solid rgb(187, 186, 186);
    margin: 0 auto;
    height: 800px;
    width: 1052px;
}

/********************************************************/

main aside{
    width: 250px;
    border: 1px solid rgb(187, 186, 186);
}


main aside > div{
    display: flex;
    height: 80px;
    border: 1px solid rgb(187, 186, 186);
    

}

.aside-img{
    width: 75px;
    height: 100%;
}
.aside-img img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin: 6px ;
}
.aside-content{
    width: 175px;
    margin: auto;
}

/********************************************************/
main section{
    width: 800px;
}
#section-top{
    border: 1px solid rgb(187, 186, 186);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 18px;
}
#filter{
    width: 200px;
    margin-left: 20px;
    margin-right: 60px;
    color: #459220;
}

#section-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 750px;
    overflow: scroll;
}

.section-bottom-item{
    border: 1px solid black;
    height: 240px;
    min-width: 190px;
    padding: 4px;
}

.section-bottom-item-img{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-bottom-item img{
    width: 70%;
    height: 100%;
}
.discount-button{
    color: white;
    background-color: rgb(52, 120, 223);
    border-radius: 10%;
    font-size: 10px;
    font-weight: bold;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
}
.section-bottom-item-source-time{
    background-color: greenyellow;
    width: 50%;
    font-size: smaller;
    margin-left: 50%;
}
.section-bottom-item-name{
    font-weight: bold;
    font-size: 15px;
    height: 15px;
    margin:20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section-bottom-item-weight{
 color: rgb(141, 138, 138);
 margin: 2px 0;;
}
.section-bottom-item-price-add{
    display: flex;
    margin-bottom: 0;
    height: 30px;
    justify-content: space-between;
}
.price{
    height: 100%;
}

.section-bottom-item-price-add button{ 
    color: #459220;
    border: 1px solid #459220;
    background-color: #caeeb9; 
    width: 100px;
    font-weight: bold;
    border-radius: 10%;
}

.cart-button{ 
    border: 1px solid #459220;
    width: 100px;
    font-weight: bold;
    border-radius: 10%;
    display: flex;
    margin-bottom: 0;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #459220; 
    color: white;
}

.section-bottom-item-price-add button:hover{ 
    background-color: #459220; 
    color: white;
}

.new-price{
    height: 20px;
}

.old-price{
    height: 5px;
    text-decoration: line-through;
    font-size: 10px;
    color: rgb(177, 173, 173);
}
/********************************************************/
footer{
    margin-top: 10rem;
}
#perks{
    display: flex;
    height: 230px;
    justify-content: space-around;
    margin: 0 200px;
}
.perk-content{
    width: 400px;
    border: 1px solid black;
    margin: 0 10px;
    border-radius: 10px;
}
.perk-logo{
    display: flex;
    height:140px;
    justify-content: center;
    padding: 5px;
}
.perk-logo img{
    width: 40%;
    height: 100%;
}
.perk-heading{
    height:30px;
    padding-top: 10px;
    text-align: center;
    font-weight: 900;
}
.perk-data{
    margin: auto 20px;
    display: inline-block;
    height:40px;
    text-align: center;
}

/********************************************************/
#extra-info{
    margin: 40px 200px;
}

/********************************************************/
#contact-info{
    background-color: rgb(151, 148, 148);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#extra-info-note{
    padding: 20px;
    margin: 0 200px;
    font-size: small;
}
#download-info{
    display: flex;
    padding: 20px;
}
#download-info div{
    font-weight: bold;
    margin: auto;
}

#download-info img{
    border-radius: 10px;
    padding: 5px;
}

#social-logo{
    margin-right: 200px;
    display: flex;
    padding: 20px;
}
#social-logo img{
    border-radius: 50%;
    padding: 5px;
}

/*************************************/
#bill-container{
    width:600px;
    min-height: 500px;
    margin: auto
}
#bill-container div{
    margin:2px;
    align-items: center;
}
#item-container{
    min-height: 200px;
}
.item{
    display: flex;
    flex-wrap: wrap;
}
.item-image{
    max-width: 20%;
}
.item-info{
    flex-grow: 3;
}
.item-detail{
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    
}
.proceed{
    border-radius: 2px;
    padding: 3px;
    background-color: rgb(12, 139, 23);
    color: white;
}